<div id="admin-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="admin-heading mb-3"><%= status %> Error!</h1>
            </div>
            <div class="col-md-12">
                <p class="mb-3"><%= message %></p>
            </div>
        </div>
    </div>
</div>